VITE_STRAPI_URL=http://localhost:1337

# NÃO ESTÁ SENDO UTILIZADO, APENAS PARA TESTES
# STRAPI_API_TOKEN=seu_token_aqui

VITE_TOKEN_STRAPI=seu_token_aqui

# VITE_SERVER_DATA=https://jsonplaceholder.typicode.com
VITE_SERVER_DATA=https://localhost:3006